*{
background: #aabbdd;
}

class miclase1{
 text: #445588;
}

.btn {
padding:0.5rem;
background: #C0B31C;
color: black;
border-radius: 8px;
display:inline-block;
transition:0.3s;

}

.btn:hover{
    	transform: scale (1.2);
	background:#778899;
}

